@font-face {
  font-family: IRANYEKAN;
  src: url('./fonts/Farsi_numerals/IRANYekanThinFaNum.ttf') format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: IRANYEKAN;
  src: url('./fonts/Farsi_numerals/IRANYekanRegularFaNum.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: IRANYEKAN;
  src: url('./fonts/Farsi_numerals/IRANYekanBoldFaNum.ttf') format('truetype');
  font-weight: bold;
}

*
  font-family: IRANYEKAN
  font-weight: normal
